[*.cs]

# CA1416: 验证平台兼容性
dotnet_diagnostic.CA1416.severity = none


# CS0067: 从不使用事件 
dotnet_diagnostic.CS0067.severity = suggestion

# CS0162: 检测到无法访问的代码
dotnet_diagnostic.CS0162.severity = suggestion

# CS0168: 声明了变量，但从未使用过
dotnet_diagnostic.CS0168.severity = suggestion

# CS0169: 从不使用字段
dotnet_diagnostic.CS0169.severity = suggestion

# CS0219: 变量已被赋值，但从未使用过它的值
dotnet_diagnostic.CS0219.severity = suggestion

# CS0252: 
dotnet_diagnostic.CS0252.severity = suggestion

# CS0414: 字段已被赋值，但从未使用过它的值
dotnet_diagnostic.CS0414.severity = suggestion

# CS1591: 缺少对公共可见类型或成员的 XML 注释
dotnet_diagnostic.CS1591.severity = silent

# CS8600: 将 null 文本或可能的 null 值转换为不可为 null 类型。
dotnet_diagnostic.CS8600.severity = none

# CS8601: 可能的 null 引用赋值。
dotnet_diagnostic.CS8601.severity = none

# CS8602: 解引用可能出现空引用。
dotnet_diagnostic.CS8602.severity = none

# CS8603: 可能返回 null 引用。
dotnet_diagnostic.CS8603.severity = none

# CS8604: 由于引用类型的可为空性存在差异，参数不能用于参数。
dotnet_diagnostic.CS8604.severity = none

# CS8612: 
dotnet_diagnostic.CS8612.severity = none

# CS8618: 退出构造函数时，不可为 null 的变量必须包含非 null 值。请考虑将其声明为可为 null。
dotnet_diagnostic.CS8618.severity = none

# CS8620: 由于引用类型的可为空性存在差异，参数不能用于参数。
dotnet_diagnostic.CS8620.severity = none

# CS8622: 参数类型中引用类型的为 Null 性与目标委托不匹配(可能是由于为 Null 性特性)。
dotnet_diagnostic.CS8622.severity = none

# CS8625: 无法将 null 字面量转换为非 null 的引用类型。
dotnet_diagnostic.CS8625.severity = none
\
# CS8765: 参数“value”类型的为 Null 性与重写成员不匹配(可能是由于为 Null 性特性)。
dotnet_diagnostic.CS8765.severity = none

# CS8767: 参数类型中引用类型的可为空性与隐式实现的成员 (不匹配，原因可能是) 为 null 属性。
dotnet_diagnostic.CS8767.severity = none



csharp_style_namespace_declarations = file_scoped:silent