<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<PublishDir>bin\Release</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>False</SelfContained>
		<PublishReadyToRun>False</PublishReadyToRun>
		<PublishSingleFile>True</PublishSingleFile>
		<IncludeContentInSingleFile>True</IncludeContentInSingleFile>
		<IncludeNativeLibrariesForSelfExtract>True</IncludeNativeLibrariesForSelfExtract>
	</PropertyGroup>
</Project>